---
import FormattedDate from '@/components/Helpers/FormattedDate.astro';
import FeaturedRecipes from '@/components/FeaturedRecipes.astro';
import Layout from '@/layouts/Default.astro';

export const getStaticPaths = async () => {
  const posts = await getBlogPosts();

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { data } = post;
const { date, meta, title } = data;
const recipes = (data.recipes?.length > 0) ? await getRecipes({ recipes: data.recipes }) : [];
const { Content } = await render(post);
---

<Layout heading={title} meta={meta}>
  <Container>
    <div class="max-w-none  prose  py-4  lg:py-8">
      <p>Posted: <FormattedDate date={date} /></p>
      <Content />
    </div>
  </Container>
  <FeaturedRecipes recipes={recipes} />
</Layout>
