---
import { type LinkProps } from '@/types/Link';

const { class: className, href } = Astro.props as LinkProps;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a class:list={[className, { underline: isActive }]} href={href}>
  <slot />
</a>
