---
import { type PaginationProps } from '@/types/Pagination';

const { baseUrl, currentPage, forceQueryString, totalPages } = Astro.props as PaginationProps;
const { searchParams } = Astro.url;
const pages = getPagination(currentPage, totalPages);
---

<div class="border-secondary-100  border-t  mt-auto  py-8">
  <nav aria-label="Pagination" class="flex  items-center  justify-between  gap-2">
    <div class="flex  justify-start  sm:w-[96px]">
      <a
        aria-disabled={currentPage <= 1}
        class={`
          border  border-secondary-400  flex  flex-initial  items-center  gap-1  px-3  py-1  rounded-md  transition
          sm:border-0  sm:p-0  sm:hover:bg-transparent
          ${currentPage <= 1 ? 'cursor-not-allowed  opacity-50' : 'hover:text-primary  hover:bg-secondary-50  hover:underline'}
        `}
        href={currentPage > 1 ? getPageUrl((currentPage - 1), baseUrl, searchParams, forceQueryString) : undefined}
        tabindex={currentPage <= 1 ? -1 : 0}
      >
        <Icon class="size-3" name="chevron-left" />
        Previous
      </a>
    </div>
    <div class="flex  flex-1  items-center  justify-center  opacity-90  sm:hidden">
      Page {currentPage} of {totalPages}
    </div>
    <div class="hidden  items-center  justify-center  gap-2  sm:flex">
      {pages.map((page) => (
        (page === '...') && (
          <span class="flex  items-center  justify-center  opacity-80">
            <Icon class="size-4" name="ellipsis" />
          </span>
        )
        || (
            <a
              aria-current={page === currentPage ? 'page' : undefined}
              href={getPageUrl(Number(page), baseUrl, searchParams, forceQueryString)}
              class={`
                px-3  py-1  rounded-md  transition
                ${page === currentPage ? 'bg-secondary-900  text-white' : 'hover:bg-secondary-50  hover:underline'}
              `}
            >
              {page}
            </a>
          )
        )
      )}
    </div>
    <div class="flex  justify-end  sm:w-[96px]">
      <a
        aria-disabled={currentPage >= totalPages}
        class={`
          border  border-secondary-400  flex  flex-initial  items-center  gap-1  px-3  py-1  rounded-md  transition
          sm:border-0  sm:p-0  sm:hover:bg-transparent
          ${currentPage >= totalPages ? 'cursor-not-allowed  opacity-50' : 'hover:text-primary  hover:bg-secondary-50  hover:underline'}
        `}
        href={currentPage < totalPages ? getPageUrl((currentPage + 1), baseUrl, searchParams, forceQueryString) : undefined}
        tabindex={currentPage >= totalPages ? -1 : 0}
      >
        Next
        <Icon class="size-3" name="chevron-right" />
      </a>
    </div>
  </nav>
</div>
