@import 'tailwindcss';

/* Plugins */
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

/* Additional configuration */
@config '../../tailwind.config.mjs';

@layer base {
  .text-danger {
    color: #ff0032;
  }

  .text-purple {
    color: #615cff;
  }
}

@theme {
  --animate-pulse: pulse 2s ease-in-out infinite;
  --breakpoint-xs: 30rem;

  @keyframes pulse {
    50% {
      opacity: 0.8;
    }
  }
}
