@import 'tailwindcss';

/* Plugins */
@plugin '@tailwindcss/typography';
@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

/* Additional configuration */
@config '../../tailwind.config.mjs';

@layer base {
  .text-danger {
    color: #ff0032;
  }

  .text-purple {
    color: #615cff;
  }
}

@theme {
  --animate-pulse: pulse 2s ease-in-out infinite;
  --animate-pulse-ring: pulse-ring 2s ease-in-out infinite;
  --breakpoint-xs: 30rem;

  @keyframes pulse {
    50% {
      opacity: 0.8;
    }
  }

  @keyframes pulse-ring {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 50, 0.5);
    }
    70% {
      box-shadow: 0 0 0 8px rgba(255, 0, 50, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 50, 0);
    }
  }
}
