---
import Layout from '@/layouts/Default.astro';

export const getStaticPaths = async () => {
  const pages = await getCollection('pages');

  return pages.map((page) => ({
    params: {
      page: page.id,
    },
  }));
}

const { page } = Astro.params;
const entry = await getEntry('pages', page);

if (!entry) {
  throw new Error(`Page not found: ${page}`);
}

const { data, rendered } = entry;
const { meta, title } = data;
---

<Layout heading={title} meta={meta}>
  <Container>
    <div class="max-w-none  prose  py-4  lg:py-8" set:html={rendered?.html}>
    </div>
  </Container>
</Layout>
