---
import RecipeCardSkeleton from '@/components/Skeleton/RecipeCard.astro';
import Layout from '@/layouts/Default.astro';
---

<Layout heading="Need a little cooking inspiration?">
  <Container>
    <div class="max-w-none  prose  pt-4  lg:pt-8">
      <p>Feeling indecisive about what to cook? Our <strong>&ldquo;Inspiration&rdquo;</strong> feature picks <strong>delicious recipes at random</strong>. Each packed with <strong>bold flavours</strong>, <strong>easy-to-follow steps</strong>, and ingredients you likely already have at home. Whether you're in the mood for a <strong>comforting classic</strong>, a <strong>quick weeknight dinner</strong>, or a dish from a cuisine you've never tried, these handpicked options are a great way to break out of your routine.</p>
      <p>Every time you <strong>reload the page</strong> you'll get a fresh set of <strong>randomly selected recipes</strong>, no two visits are likely ever the same. It's perfect for <strong>adventurous home cooks</strong> or anyone looking to inject a little fun into meal planning. You never know what tasty idea might appear next!</p>
    </div>
    <div
      class="gap-4  grid  py-4  xs:grid-cols-2  md:grid-cols-3  lg:grid-cols-4  lg:gap-8  lg:py-8"
      id="recipes"
    >
      {Array.from({ length: inspirationRecipeCount }, () => <RecipeCardSkeleton />)}
    </div>
    <script>
      import { renderRecipeCard } from '/src/helpers/renderRecipeCard.ts';

      const getInspiration = async () => {
        const result = await fetch(`/api/inspiration/?cache=${crypto.randomUUID()}`);

        if (!result.ok)
          return;

        const recipes = await result.json();
        const container = document.getElementById('recipes');

        if (!container)
          return;

        container.innerHTML = recipes.map(renderRecipeCard).join('');
      }

      document.addEventListener('astro:page-load', getInspiration);
    </script>
  </Container>
</Layout>
