---
import { type AllergensProps } from '@/types/Allergens';

const { allergens } = Astro.props as AllergensProps;
---

{allergens &&
  <div class="border-b  border-secondary-100  mb-8  pb-8">
    <h2 class="font-semibold  font-serif  mb-2  text-3xl">Allergens</h2>
    {allergens.length > 0 &&
      <p class="mb-8">Allergens highlighted by <strong class="font-normal">†</strong> ({allergens.join(', ')}).</p>
    }
    <p>In addition to the recipe specific allergen information provided, due to production and packing methods Gousto boxes may also contain low levels of the following allergens: Cereals containing gluten; Crustaceans; Eggs; Fish; Peanuts; Soya; Milk; Nuts: almonds, hazelnuts, walnuts, cashews, pecan nuts, brazil nuts, pistachio nuts, macadamia nuts; Celery; Sesame; Sulphur dioxide and Sulphites; Lupin; Molluscs; Mustard.</p>
  </div>
}
