---
import { type IngredientsProps } from '@/types/Ingredients';

const { basics, ingredients, portion_sizes } = Astro.props as IngredientsProps;
---

<div class="border  border-secondary-100  p-4  rounded-lg  text-sm">
  <h2 class="font-medium  font-serif  mb-2  text-xl">Ingredients for 2 people</h2>
  {(isPortionOffered(portion_sizes, 3) || isPortionOffered(portion_sizes, 4)) && (
    <p class="mb-4">
      {isPortionOffered(portion_sizes, 3) && (
        <span class="block"><span class="text-purple">Cooking for 3?</span> 1 and a half for each ingredient</span>
      )}
      {isPortionOffered(portion_sizes, 4) && (
        <span class="block"><span class="text-danger">Cooking for 4?</span> Double each ingredient</span>
      )}
    </p>
  ) || ``}
  <div class="mb-4  print:grid  print:grid-cols-3  print:w-full">
    {ingredients.sort((a, b) => a.label.localeCompare(b.label)).map(({ allergens, label, image }) => (
      <div class="flex  items-center  space-x-4">
        <div class="flex  flex-col  items-center">
          {image &&
            <picture>
              <source
                srcset={`
                  ${useRemoteImageUrl(image, { h: 40, output: 'webp', w: 40 })},
                  ${useRemoteImageUrl(image, { h: 80, output: 'webp', w: 80 })} 2x
                `}
                type="image/webp"
              />
              <img
                alt={label}
                class="w-10"
                decoding="async"
                height={40}
                loading="lazy"
                src={useRemoteImageUrl(image, { h: 40, w: 40 })}
                srcset={`${useRemoteImageUrl(image, { h: 80, w: 80 })} 2x`}
                width={40}
              />
            </picture>
          ||
            <span class="bg-secondary-50  flex  items-center  justify-center  size-10"></span>
          }
        </div>
        <div class="space-x-0.5">
          <span>{label}</span>
          {allergens.length > 0 && (<strong class="font-normal">†</strong>)}
        </div>
      </div>
    ))}
  </div>
  <h2 class="font-medium  font-serif  mb-2  text-xl">You'll also need</h2>
  <p>{basics.sort(([a], [b]) => a.localeCompare(b)).join(", ")} <span class="font-normal">(or dietary alternatives)</span></p>
</div>
