---
import Container from '@/components/Container.astro';
---

<footer class="bg-secondary-900  mt-auto  py-6  text-center  text-sm  text-white/80  print:hidden" transition:persist>
  <Container class="flex  items-center  justify-between">
    <span class="block  mb-0">
      {site.name}
    </span>
    <ul class="flex  items-center  justify-center  -mr-3">
      <li class="mx-3">
        <a
          class="flex  items-center  space-x-1  transition  hover:text-white  hover:underline"
          href="/cookies/"
        >
          <span>Cookies</span>
          <Icon class="h-3" name="cookie" />
        </a>
      </li>
    </ul>
  </Container>
</footer>
